{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "linebreak-style": "off",
    "no-console": "off",
    "object-curly-newline": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "max-len": "off",
    "no-nested-ternary": "off",
    "class-methods-use-this": "off",
    "import/named": "off",
    "array-callback-return": "off",
    "arrow-body-style": "off",
    "no-param-reassign": "off",
    "consistent-return": "off",
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "plugins": [
    "react"
  ]
}