@import "../styles/mixins.scss";

.search-form {
  border-radius: 100px;
  width: 608px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.search-form__input {
  @include setFont("Roboto", 400, 16px, 22px);
  border: none;
  border-radius: 100px;
  padding: 21px 24px 21px 24px;
  width: 100%;
}

.search-form__submit-button {
  @include setFont("Roboto", 500, 18px, 24px);
  border: none;
  border-radius: 100px;
  padding: 10px 52px 10px 54px;
  background-color: #2f71e5;
  color: white;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  transition: background-color 0.1s linear;
}

.search-form__submit-button:hover {
  cursor: pointer;
  background-color: #347EFF;
}

.search-form__submit-button:active {
  background: #2A65CC;
}

@media screen and (max-width: 1030px) {
  .search-form {
    width: 448px;
    height: 56px;
  }
}

@media screen and (max-width: 500px) {
  .search-form {
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 0%;
    background-color: transparent;
  }

  .search-form__input {
    width: auto;
    margin-bottom: 16px;
  }

  .search-form__submit-button {
    padding: 19px 24px 21px 19px;
  }
}
